// src/css/_variables.scss
// Colors from src/context/ThemeContext.js

$primary-color: #1976d2;
$secondary-color: #dc004e;
$dark-background: #0a0a0a;
$font-family-base: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;

:root {
  --ifm-color-primary: #{$primary-color};
  --ifm-color-primary-dark: darken($primary-color, 10%);
  --ifm-color-primary-darker: darken($primary-color, 15%);
  --ifm-color-primary-darkest: darken($primary-color, 20%);
  --ifm-color-primary-light: lighten($primary-color, 10%);
  --ifm-color-primary-lighter: lighten($primary-color, 15%);
  --ifm-color-primary-lightest: lighten($primary-color, 20%);
}
