@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  font-style: normal;
  font-weight: bold;
  src: url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
       url('HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('HelveticaNeueLTStd-Bd.svg') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
       url('HelveticaNeueLTStd-Roman.woff') format('woff'),
       url('HelveticaNeueLTStd-Roman.svg') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('AvenirLTStd-Roman.woff2') format('woff2'),
       url('AvenirLTStd-Roman.woff') format('woff'),
       url('AvenirLTStd-Roman.svg') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'SabonLTStd-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('SabonLTStd-Roman.woff2') format('woff2'),
       url('SabonLTStd-Roman.woff') format('woff'),
       url('SabonLTStd-Roman.svg') format('svg');
  font-display: swap;
}
