@font-face {
    font-family: HelveticaNeueLTStd-Bd;
    font-style: normal;
    font-weight: bold;
    src: url('HelveticaNeueLTStd-Bd.svg') format('svg'),
         url('HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('HelveticaNeueLTStd-Bd.woff2') format('woff2');
}
@font-face {
    font-family: HelveticaNeueLTStd-Roman;
    font-style: normal;
    font-weight: normal;
    src: url('HelveticaNeueLTStd-Roman.svg') format('svg'),
         url('HelveticaNeueLTStd-Roman.woff') format('woff'),
         url('HelveticaNeueLTStd-Roman.woff2') format('woff2');
}
@font-face {
    font-family: AvenirLTStd-Roman;
    font-style: normal;
    font-weight: normal;
    src: url('AvenirLTStd-Roman.svg') format('svg'),
         url('AvenirLTStd-Roman.woff') format('woff'),
         url('AvenirLTStd-Roman.woff2') format('woff2');
}
@font-face {
    font-family: SabonLTStd-Roman;
    font-style: normal;
    font-weight: normal;
    src: url('SabonLTStd-Roman.svg') format('svg'),
         url('SabonLTStd-Roman.woff') format('woff'),
         url('SabonLTStd-Roman.woff2') format('woff2');
}